# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 1
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:7.10

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      - image: circleci/postgres:9.6.2-alpine
        environment:
          COINPLAN_DB_TEST_DATABASE: circle_ci_test
          COINPLAN_DB_PASSWORD: test
          COINPLAN_DB_USER: test

    working_directory: ~/coinplan

#    - env:
#      - COINPLAN_DB_USER=test COINPLAN_DB_PASSWORD=test COINPLAN_DB_DATABASE=travis_ci_test COINPLAN_DB_TEST_DATABASE=travis_ci_test COINPLAN_DB_HOST=localhost COINPLAN_DB_PORT=5432 COINPLAN_TOKEN_SECRET=travis COINPLAN_SERVER_PORT=3000
#
#    - before_script:
#        # Database
#      - psql -c 'CREATE DATABASE circle_ci_test' -U postgres
#      - psql -c "CREATE USER test WITH PASSWORD 'test';" -U postgres

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      # run tests!
      - run: npm run test
      - run: npm run lint


