version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:7.10
        enviroment:
          PGHOST: localhost
          PGUSER: 5432
          NODE_ENV: test
#          COINPLAN_SERVER_PORT: 3000

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      - image: circleci/postgres:9.6.2-alpine
        environment:
#          COINPLAN_DB_TEST_DATABASE: circle_ci_test
#          COINPLAN_DB_PASSWORD: test
#          COINPLAN_DB_USER: test
          POSTGRES_DB: graphql_todo_test
          POSTGRES_PASSWORD: ""
          POSTGRES_USER: rockchalkwushock

    working_directory: ~/coinplan

    steps:
      - checkout

      - setup_remote_docker

      - run:
          name: Install Docker Compose
          command: |
            curl -L https://github.com/docker/compose/releases/download/1.19.0/docker-compose-`uname -s`-`uname -m` > ~/docker-compose
            chmod +x ~/docker-compose
            sudo mv ~/docker-compose /usr/local/bin/docker-compose

      - run: docker-compose up -d

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: npm install

#      - run: psql -c 'CREATE DATABASE circle_ci_test' -U postgres
#
#      - run: psql -c "CREATE USER test WITH PASSWORD 'test';" -U postgres

#      - run: docker-compose up
#
      - run: docker-compose run --rm web npm run createdb

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      # run tests!
      - run: npm run test
      - run: npm run lint